# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio et IntelliJ
.idea/
*.iml
.navigation/
captures/
.externalNativeBuild/
.cxx/

# Configuration locale
local.properties

# Fichiers générés
*.apk
*.aab
*.ap_
*.dex
*.class
output-metadata.json

# Système
.DS_Store
